@use "@/common/styles/colors"

.browser-settings
  display: flex
  flex-direction: column
  margin-top: 1rem
  gap: 2rem

.browser-settings-loading
  padding: 2rem
  text-align: center
  color: colors.$subtext
