[Unit]
Description=Outpost Engine
Documentation=https://docs.nexterm.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=outpost
Group=outpost
WorkingDirectory=/etc/outpost-engine
Environment=FREERDP_EXTENSION_PATH=/usr/lib/outpost-engine/freerdp3
ExecStart=/usr/bin/outpost-engine
Restart=on-failure
RestartSec=5

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
ReadWritePaths=/etc/outpost-engine

[Install]
WantedBy=multi-user.target